<div class="p-col-12">
<p-tabView (onChange)="onTabChange($event)">
        <p-tabPanel *ngFor="let building of plan.buildings; index as i" header="{{building.name}}" [selected]="i === 0">
            <div class="p-grid p-justify-center">
                <div class="p-col-4"></div>
                <div class="p-col-7">
                    <div class="box">
                        <ng-template [ngIf]="plan.isCellMode" [ngIfElse]="buildingT">
                            <app-cell-mode [cells]="building.cells"></app-cell-mode>
                        </ng-template>
                        <ng-template #buildingT>
                            <app-building></app-building>
                            {{building.name}}
                        </ng-template>
                    </div>
                </div>
                <div class="p-col-1"></div>
            </div>
        </p-tabPanel>

        <p-tabPanel class="ui-button-raised ui-button-secondary" header="Ajouter bâtiment" [disabled]="true"></p-tabPanel>
</p-tabView>
    
</div>
<div class="_buttons p-col-3">
    <button pButton type="button" label="Street View" class="ui-button-raised"></button>
    <button pButton type="button" label="Vue Aérienne" class="ui-button-raised ui-button-success"></button>
</div>