<p-accordion (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)" [activeIndex]="index">
    <p-accordionTab header="Activités">
        <app-draggable-item *ngFor="let nature of natures" [item]="nature"></app-draggable-item>
    </p-accordionTab>
    <p-accordionTab header="Occupants">
        <ng-template pTemplate="content">
            Complex Content to Lazy Load
            Content 1
            vvContent 1Content 1
        </ng-template>
    </p-accordionTab>
    <p-accordionTab header="Propriétés">
        <ng-template pTemplate="content">
            Complex Content to Lazy Load
        </ng-template>
    </p-accordionTab>
    <p-accordionTab header="Offres">
        <ng-template pTemplate="content">
            Complex Content to Lazy Load
        </ng-template>
    </p-accordionTab>
</p-accordion>