/* You can add global styles to this file, and also import other style files */
@import "_variables.scss";
@import "_mixins.scss";
@import "primengChanges.scss";

body {
    font: 100% $font-stack;
    color: $primary-color;
    font-size: 13px !important;

     a {
      color: none;
    }

    .progress {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: rotate(-50%, -50%);
    }

    ._buttons {
      z-index: 1;
      display: flex;
      position: absolute;
      top: 1%;
      right: 1.2%;
      button {
        margin-left: 5px;
      }
    }

    /* parkings card */
    p-card.parkings {
      z-index: 1;
      position: absolute;
      top: 18%;
      right: 2%;

      &.parkings {
        ._drag {
          border: 1px dotted #B5B5B5;
          border-radius: 21px;
          margin: 10px auto 5px auto;
          line-height: 0;
          padding: 12px 0;
          cursor: default;
        }
        &.rounded {
          div:first-child {
            border-bottom-left-radius: 21px;
            border-bottom-right-radius: 21px;
          }

        }
      }
    }
  }
