<div id="aerienMode">
    <div class="p-grid cells-container">
        <div class="p-col-12 p-md-6 p-lg-3" *ngFor="let cell of cells; i as index">
                <p-card class="_item" header="{{ cell.name }}">
                    <hr><hr><hr><hr><hr><hr><hr><hr>
                </p-card>
        </div>
    </div>
</div>
<div id="scrollMode">
    <!--<p-carousel [value]="cells" orientation="vertical" 
    [style]="{'max-width':'400px', 'margin-top':'2em'}" 
    verticalViewPortHeight="330px">
            <p-header>
                <h3>Vertical</h3>
            </p-header>
            <ng-template let-cell pTemplate="cell">
                <div class="car-details">
                    <div class="p-grid p-nogutter">
                        <div class="p-col-12">
                            
                        </div>
                        <div class="p-col-12 car-data">
                            <div class="car-title">{{cell.name}}</div>
                            <div class="car-subtitle">{{cell.name}} | {{cell.name}}</div>
        
                            <div class="car-buttons">
                                <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                                <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                                <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
    </p-carousel>-->
</div>
